name: locate_pal
description: A new Flutter project.


dependencies:
  flutter:
    sdk: flutter
  location:
    git:
      url: git://github.com/Lyokone/flutterlocation.git
#  google_sign_in: ^0.3.1
  http: '>=0.11.3+12'
#  firebase: '^4.0.0'

#  firebase_auth: 0.1.1
#  firebase_database: 0.0.12


dev_dependencies:
  flutter_test:
    sdk: flutter



# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the Icons class.
  uses-material-design: true
  fonts:
  - family: icomoon
    fonts:
      - asset: fonts/icomoon.ttf
      - weight: 500

  assets:
    [graphics/back.jpg,graphics/backk.jpg,graphics/backoption1.jpg,graphics/backoption2.jpg,graphics/staticmap.gif,graphics/google_signin_buttons/android/hdpi/btn_google_light_normal_hdpi.9.png]


  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages
  
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies, 
  # see https://flutter.io/custom-fonts/#from-packages
