<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099202702902-jdhg0udksfg4k6159jgc8p6pehgupc56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099202702902-jdhg0udksfg4k6159jgc8p6pehgupc56</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1099202702902-bqk5nbnj2rs13csvd1k4mnc0kivk0fml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFFr0Nhon2CyGrbx1vfbp2knP3bxtKGH0</string>
	<key>GCM_SENDER_ID</key>
	<string>1099202702902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trovami</string>
	<key>PROJECT_ID</key>
	<string>trovami-bcd81</string>
	<key>STORAGE_BUCKET</key>
	<string>trovami-bcd81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099202702902:ios:c63175a0c64ff97b877297</string>
	<key>DATABASE_URL</key>
	<string>https://trovami-bcd81.firebaseio.com</string>
</dict>
</plist>