<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526082914918-jdliblrrebv1ir2vo2jqf5th15b64612.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526082914918-jdliblrrebv1ir2vo2jqf5th15b64612</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>526082914918-igm5eatbq0n21sak9415fcuf5rm7k0a3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9JfDYrTWIxBGKDDQjs9GBIiN2bzubaj4</string>
	<key>GCM_SENDER_ID</key>
	<string>526082914918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.locatePal</string>
	<key>PROJECT_ID</key>
	<string>fir-trovami</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-trovami.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526082914918:ios:b2c398dc016da005</string>
	<key>DATABASE_URL</key>
	<string>https://fir-trovami.firebaseio.com</string>
</dict>
</plist>